@charset "UTF-8";
nav{
display: block;
}
html, body, h1, ul, li,
nav{
padding: 0;
margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

body {
width: 960px;
margin-left: auto;
margin-right: auto;

background-image: url(/images/jnjnjnj.png);
font-family: Helvetica, Arial, sans-serif;
font-size: 15px;
color: white;
}

h1 {
background-color: #302c2c;     
    
}


nav {
background-color: #8c8282;
padding: 5px;
margin-top: 1px;
}
p{
 color: orangered
    
}
li a {
color: white
}

li {
display: inline;
margin-left: 15px;
margin-right: 15px;
font-size: 25px;
Font-variant: small-caps;
font-weight: bold;
}


